ISAAC_SIM_VERSION=6.0.1
ROS_DOMAIN_ID=42

HOST_UID=1000
HOST_GID=1000
HOST_USER=your_username

# Required only for headless/WebRTC mode. Use an active host LAN IP.
ISAACSIM_HOST=192.168.0.XX
ISAACSIM_SIGNAL_PORT=49100
ISAACSIM_STREAM_PORT=47998
